<div class="info__item" data-id="{{item.id}}">
  <img src="{{item.urls.small}}" alt="pic" class="info__img">
  <div class="info-block">
    <span class="info__title">Description: {{item.alt_description}}</span>
    <span class="info__date">Created: {{item.created_at}}</span>
    <span class="info__name">User Name: {{item.user.name}}</span>
    <span class="info__user-name">Nick Name: {{item.user.username}}</>
  </div>

</div>
